<!DOCTYPE html>
<script src="/socket.io/socket.io.js"></script>

<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

<script>

</script>
  <script>
    var socket = io.connect();
    let roomId = "";
    buttonHandler = (event) =>{
      // socket.to("someUniqueName").emit('gameCom', "some great value");
      if (roomId === ""){
        console.log("the room id is not se");
      }else{
        socket.emit('gameCom', {roomId : roomId , message : "some messgae "});
      }
      console.log("i clicked this");
    }

    socket.on('gameCom', function(data) {
      roomId = data.roomId;
      console.log('Incoming message:', data);
    });


 
  </script>
   
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a name="button__start" href="results" > Click me </a>
    <button onclick="buttonHandler()">some Namme</button>

  </body>
</html>
