<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <!-- <script>
    function moveToNextScreen(event){
      window.location.replace("http://www.w3schools.com");
    }
  </script> -->
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <a name="button__start" href="/game" > Click me </a>
  </body>
</html>
