<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</head>

<body>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <div class="row center">
        <div class="col s12 m10 offset-m1">
          <h1 class="header">Paint Splat</h1>
        </div>
        <div class="col s12 m8 offset-m2">
          <h4 class="light">The best game of paint splat you've ever played...</h4>
        </div>
      </div>
      <div class="row center">
        <a href="/game" id="download-button" class="btn-large waves-effect waves-light indigo darken-4">Click to
          start</a>
      </div>
      <div class="row center">
        <h6 class="light">Proudly sponsored by Pair Programming</h6>
      </div>
    </div>
  </div>
  </div>
</body>

</html>